
.portfolio-items{
    width: 100%;
    overflow: hidden;
    height: 400px;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s ease-in-out;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 20%);
    border: 1px solid #ddd;

}
.portfolio-items a {
    color: #0d6efd;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;

}
.portfolio-items:hover{
    background-position-y: bottom;
}
.portfolio-items:hover a{
    opacity: 1;
    visibility: visible;
}